@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'bgp-arial';
        src: url('./assets/font/bpg-arial.ttf');
    }

    @font-face {
        font-family: 'nino-mtavruli';
        src: url('./assets/font/nino-mtavruli.ttf');
    }

    @font-face {
        font-family: 'nino-mtavruli-bold';
        src: url('./assets/font/nino-mtavruli-bold.ttf');
    }

    ::-webkit-scrollbar {
        width: 10px;
    } 

    ::-webkit-scrollbar-track {
        border-radius: 100vh;
        background-color: #FFF;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #143B52;
        border-radius: 100vh;
    }

    ::-webkit-outer-spin-button,
    ::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    } 
}